.login-register {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  text-decoration: none;
  font-size: "20px";
}
.login-register:hover {
  transform: scale(1.2);
  color: #888888;
}

.nav-login-register {
  margin-right: 10px;
}
